@use "sass:math";

@function mvw($x) {
  @return calc(math.div($x, 375) * 100vw);
}

body {
  background-image: url('./images/web.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

img,
svg {
  width: 100%;
}

img {
  display: block;
  user-drag: none;
  -webkit-user-drag: none;
  pointer-events: auto;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
   -webkit-tap-highlight-color: transparent;
}

.top {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.android img,
.apple img {
  transition: transform 0.2s ease;
}

.android img:active,
.apple img:active {
  transform: scale(0.95);
}

.haveFunMain,
.exclusiveMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #87422B;
}

.haveFun {
  margin: 24px 0;
}

.haveFunMain {
  background: #572C88;
}

.receive {
  color: #fff;
  opacity: 0.4;
  font-weight: 600;
}

.gift {
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.6;
  text-shadow: 0.779844px 0px 2.33953px rgba(0, 0, 0, 0.35), 0px 0.779844px 1.55969px rgba(0, 0, 0, 0.24), 0px 0.779844px 0.779844px rgba(0, 0, 0, 0.22), 0px 0.779844px 1.55969px rgba(0, 0, 0, 0.2);
}

.giftPack {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  font-size: 24px;
}

.giftPackWord {
  margin-top: 33px;
  font-weight: 600;
  color: #FFFFFF;
  text-shadow: 1.02128px 0px 3.06383px rgba(0, 0, 0, 0.35), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.24), 0px 1.02128px 1.02128px rgba(0, 0, 0, 0.22), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.2);
}

.bottom {
  text-align: center;
  margin-bottom: 24px;
}

.bottom1 {
  font-weight: 600;
  color: #fff;
  opacity: 0.6;
  text-shadow: 1.02128px 0px 3.06383px rgba(0, 0, 0, 0.35), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.24), 0px 1.02128px 1.02128px rgba(0, 0, 0, 0.22), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.2);
}

.bottom2 {
  color: #fff;
  opacity: 0.6;
  text-shadow: 1.02128px 0px 3.06383px rgba(0, 0, 0, 0.35), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.24), 0px 1.02128px 1.02128px rgba(0, 0, 0, 0.22), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.2);
}

.line {
  margin: 23px 0;
}

@media (max-width: 800px) {
  body {
    background-image: none;
    background-color: #390B88;
    background-image: url(./images/mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: mvw(24);
    padding-bottom: mvw(36);
  }

  .title {
    margin-top: mvw(70);

    img {
      width: mvw(197);
      height: mvw(151);
    }
  }

  .android {
    margin-top: mvw(212);
    margin-bottom: mvw(25);
    width: mvw(177);
    height: mvw(48);
  }

  .apple {
    width: mvw(177);
    height: mvw(48);
    margin-bottom: mvw(56);
  }

  .android img,
  .apple img {
    transition: transform 0.2s ease;
  }

  .android img:active,
  .apple img:active {
    transform: scale(0.95);
  }

  .exclusiveTitle {
    height: mvw(42);
  }

  .haveFun,
  .exclusive {
    border-radius: mvw(12);
    margin-bottom: mvw(38);
  }


  .haveFunMain,
  .exclusiveMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: mvw(20);
    background: #87422B;
  }

  .haveFunMain {
    background: #572C88;
  }

  .vip666,
  .r99999 {
    width: mvw(148);
    height: mvw(60);
    margin-bottom: mvw(3);
  }

  .vip666 {
    width: mvw(219);
    height: mvw(108);
    margin-top: mvw(10);
    margin-bottom: mvw(14);
  }

  .receive {
    color: #fff;
    opacity: 0.4;
    font-size: mvw(14);
    font-weight: 600;
    margin-bottom: mvw(16);
  }

  .line {
    margin-block: mvw(7) mvw(20);

  }

  .invitationCode {
    width: mvw(150);
    height: mvw(34);
    margin-bottom: mvw(23);
  }

  .gift {
    font-weight: 500;
    font-size: mvw(12);
    line-height: mvw(17);
    text-align: center;
    color: #FFFFFF;
    opacity: 0.6;
    text-shadow: 0.779844px 0px 2.33953px rgba(0, 0, 0, 0.35), 0px 0.779844px 1.55969px rgba(0, 0, 0, 0.24), 0px 0.779844px 0.779844px rgba(0, 0, 0, 0.22), 0px 0.779844px 1.55969px rgba(0, 0, 0, 0.2);
    margin-top: mvw(8);
  }

  .giftPack {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: mvw(24);
  }

  .giftPackWord {
    margin-top: mvw(27);
    font-weight: 600;
    font-size: mvw(18);
    line-height: mvw(26);
    color: #FFFFFF;
    text-shadow: 1.02128px 0px 3.06383px rgba(0, 0, 0, 0.35), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.24), 0px 1.02128px 1.02128px rgba(0, 0, 0, 0.22), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.2);
  }

  .bottom {
    text-align: center;

  }

  .bottom1 {
    font-weight: 600;
    font-size: mvw(14);
    line-height: mvw(20);
    color: #fff;
    opacity: 0.6;
    text-shadow: 1.02128px 0px 3.06383px rgba(0, 0, 0, 0.35), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.24), 0px 1.02128px 1.02128px rgba(0, 0, 0, 0.22), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.2);
  }

  .bottom2 {
    font-size: mvw(12);
    line-height: mvw(20);
    color: #fff;
    opacity: 0.6;
    text-shadow: 1.02128px 0px 3.06383px rgba(0, 0, 0, 0.35), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.24), 0px 1.02128px 1.02128px rgba(0, 0, 0, 0.22), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.2);
  }
}