@use "sass:math";
@import "react-toastify/dist/ReactToastify.min.css";

@function mvw($x) {
  @return calc(math.div($x, 375) * 100vw);
}

$breakPoint: (
  'web': 801,
  'mobile': 800
);

@mixin media($device) {
  $size: map-get($breakPoint, $device);

  @if $device == 'web' {
    @media screen and (min-width: #{$size}px) {
      @content;
    }
  } @else if $device == 'mobile' {
    @media screen and (max-width: #{$size}px) {
      @content;
    }
  } @else {
    @warn "unknow device: #{$device}";
  }
}

@mixin both($properties) {
  @include media('web') {
    @each $property, $value in $properties {
      #{$property}: #{$value}px;
    }
  }
  @include media('mobile') {
    @each $property, $value in $properties {
      #{$property}: mvw($value);
    }
  }
}

@mixin hideScrollbar {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin textShadow () {
  text-shadow: 1.02128px 0px 3.06383px rgba(0, 0, 0, 0.35), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.24), 0px 1.02128px 1.02128px rgba(0, 0, 0, 0.22), 0px 1.02128px 2.04256px rgba(0, 0, 0, 0.2);
}

img,
svg {
  width: 100%;
}

img {
  display: block;
  -webkit-user-drag: none;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

html,
body {
  overscroll-behavior: none;
}

html {
  margin-top: env(safe-area-inset-top) !important;
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  background-color: #380A88;
  transform: translate3d(0, 0, 0);
}

.container {
  height: 100vh;
  overflow-y: scroll;
  @include hideScrollbar();

  @include media('mobile') {
    position: relative;
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  @include media('web') {
    height: 100vh;

    &::after {
      z-index: 2;
      background-image: url('./assets/images/web-bg.png');
    }

    &::before {
      z-index: 1;
      background-image: url('./assets/images/web-bg-min.png');
    }
  }
  
  @include media('mobile') {
    height: mvw(813);

    &::after {
      z-index: 2;
      background-image: url('./assets/images/mobile-bg.png');
    }

    &::before {
      z-index: 1;
      background-image: url('./assets/images/mobile-bg-min.png');
    }
  }
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media('web') {
    padding-block: 100px 36px;
    transform-origin: top;
    transform: scale(1.5);
  }

  @include media('mobile') {
    padding-block: mvw(58) mvw(100);
  }
}

.logo {
  @include both((
    'width': 208,
    'height': 140,
    'margin-bottom': 160
  ));
}

.download-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include both((
    'gap': 25,
    'margin-bottom': 70
  ));

  a {
    @include both((
      'width': 252,
      'height': 48,
    ));
  }
}

a {
  cursor: pointer;
  transition: transform .3s;

  &:hover {
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.9);
  }
}

.update-list {
  position: relative;

  @include both((
    'width': 326,
  ));

  .text {
    position: absolute;
    overflow-y: auto;
    color: white;
    line-height: 150%;
    @include hideScrollbar();

    @include both((
      'top': 178,
      'left': 18,
      'right': 18,
      'bottom': 22,
      'font-size': 12,
    ));
  }

  .text-green {
    color: #55FFBE;
  }
  .text-yellow {
    color: #FFF583;
  }
  .font-600 {
    font-weight: 600;
  }
}

.game-group {
  position: relative;

  @include both((
    'width': 326,
    'margin-top': 32,
  ));

  .text {
    position: absolute;
    color: white;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    flex-direction: column;
  
    @include both((
      'top': 60,
      'left': 68,
      'font-size': 18,
      'gap': 8,
    ));

    div {
      cursor: pointer;
    }
  }
}

.yellow-card {
  position: relative;

  @include both((
    'width': 326,
    'margin-top': 32,
  ));

  .card-main {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include both((
      'top': 78,
      'left': 24,
      'right': 24,
    ));
  }

  .img-4 {
    @include both((
      'margin-bottom': 8,
      'width': 274,
      'height': 44,
    ));
  }

  .img-5 {
    @include both((
      'width': 274,
      'height': 34
    ));
  }

  .img-6 {
    @include both((
      'margin-top': 27,
      'margin-bottom': 17,
      'width': 111,
      'height': 26
    ));
  }

  .img-7,
  .img-8,
  .img-9,
  .img-10 {
    @include both((
      'width': 284,
      'height': 128
    ));
  }

  .img-7,
  .img-8,
  .img-9 {
    @include both((
      'margin-bottom': 24,
    ));
  }
}

.purple-card {
  position: relative;

  @include both((
    'width': 326,
    'margin-top': 32,
  ));

  .card-main {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include both((
      'top': 74,
      'left': 24,
      'right': 24,
    ));
  };

  .img-1 {
    @include both((
      'width': 219,
      'height': 108
    ));
  }

  .img-2 {
    @include both((
      'margin-top': 14,
      'width': 112,
      'height': 20
    ));
  }

  .img-3 {
    @include both((
      'width': 274,
      'height': 34
    ));
  }

  .img-4 {
    @include both((
      'margin-top': 33,
      'margin-bottom': 17,
      'width': 111,
      'height': 26
    ));
  }

  .img-5,
  .img-6,
  .img-7,
  .img-8 {
    @include both((
      'width': 284,
      'height': 128
    ));
  }

  .img-5,
  .img-6,
  .img-7 {
    @include both((
      'margin-bottom': 24,
    ));
  }

  .split-line {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0.56%, #FFFFFF 49.61%, rgba(255, 255, 255, 0) 100.25%);
    mix-blend-mode: overlay;

    @include both((
      'margin-top': 23,
      'margin-bottom': 20,
      'width': 266,
      'height': 1
    ));
  }
}

.footer {
  text-align: center;
  color: #A88FC4;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include both((
    'font-size': 12,
    'margin-top': 30,
    'gap': 8
  ));
}

.toast-item {
  display: flex;
  margin-inline: auto;
  width: fit-content;
  background-color: #242425;
  border-radius: 4px;
  padding: 8px 16px;
}

.Toastify__toast {
  height: auto;
  min-height: auto;
  background: unset;
  padding: unset;
  box-shadow: none;
  pointer-events: none;
}

.Toastify__toast-container {
  @include media('web') {
    width: 500px;
  }
  @include media('mobile') {
    width: 100vw;
  }
}

.toast-body {
  .icon {
    @include media('web') {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    @include media('mobile') {
      width: mvw(24);
      height: mvw(24);
      margin-right: mvw(8);
    }
  }

  span {
    @include media('web') {
      font-size: 16px;
      line-height: 24px;
    }
    @include media('mobile') {
      font-size: mvw(16);
      line-height: mvw(24);
    }
  }
}